<div class="mb-4 bg-gray-400 p-4 rounded-md">
Current max item: <%= @max_item %>
</div>
<%= for item_id <- @new |> Enum.take(25) do %>
    <%= if not is_nil(@items[item_id]) do %>
    <article class="mb-4 bg-gray-400 p-4 rounded-md">
        <h2 class="font-bold mb-2"><%= @items[item_id]["title"] %></h2>
        <ul>
        <%= for {key, value} <- @items[item_id] |> Map.delete("title") do %>
            <li><strong><%= key %>:</strong> <%= inspect(value) %></li>
        <% end %>
        </ul>
    </article>
    <% end %>
<% end %>
